div img {
    width: 100px;    
    height: 80px;
}
li {
    float: right;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    height: 100px;
    width: 300px;
    margin: 0;
    padding: 8px;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: #3A7673;
}