/* Nav Styles */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline-block-Logo {
     padding: 1%;
     width: 23%;
     background-color: #0D1D21;
     background-repeat: no-repeat;
     background-position: left;
     text-align: center;
}
.nav {
    width: 73%;
    padding: 1%;
    background-color: #0D1D21;
}
.ul-inline-block {
    width: 50%;
    margin-left: auto;
}
/* Hero Image Styles */
.heroImg {
    height: 600px;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    width: 500px;
    margin: 0 auto;
}
/* Footer Styles */
