.nav {
    background-color: #0D1D21;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav li {
       display: inline-block;
       font-size: 18px;
       padding: 20px;
}